!!!
%html
	%head
		%title Crowd Out Cancer
		%link{:rel => 'stylesheet', :href => '//yui.yahooapis.com/pure/0.3.0/pure-min.css'}
		%link{:rel => 'stylesheet', :href => '/crowd.css'}
		%script
			var PusherKey = '<%= Pusher.key %>'
		%script{:src => '//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js'}
		%script{:src => '//js.pusher.com/2.1/pusher.min.js'}
		%script{:src => '/crowd.js'}
	%body{:'ng-app' => true}
		%script{:src => '/facebook.js'}
		#all
			#main.pure-g-r{:'ng-controller' => 'CrowdOutBallsCtrl', :'ng-init' => 'init()'}
				.pure-u-1-2.with-margin
					%h1.header-box
						%span Crowd out Cancer
						-#%cite by Cancer Research UK
				#circles.pure-u-1
					#wall
					#field
						.ball.project-globe
							.ball-background
								.ball-inner
									%h1
										Project: New Genes
									%p
										Hunting for hidden dangers in the breast-cancer genome.
									%p
										I'm asking for £50k for one year
										%br
										to generate preliminary data
										so I can apply for
										%br
										a fellowship.
										%cite Jo Morris from, Birmingham
				#donate-box.with-margin.pure-u-1-3
					%form.pure-form.pure-form-stacked{:method => 'POST', :action => '/donation'}
						%p
							%a{:'ng-click' => 'fb_login()', :href => '#'}
								Log in with FaceBook
							to join the crowd {{user_name}}!
							%br
							%img{:'ng-src' => '{{user_image}}'}
						-#%textarea#message{placeholder: 'Message to the researchers'}
						%span How much would you like to donate?
						%fieldset
							%legend
							%input.donate{:'ng-click' => 'donate("£10")', :type => 'button', :name => 'amount', :value => '£10'}
							%input.donate{:'ng-click' => 'donate("£100")', :type => 'button', :name => 'amount', :value => '£100'}
							%input.donate{:'ng-click' => 'donate("£1000")', :type => 'button', :name => 'amount', :value => '£1000'}