!!!
%html
	%head
		%title Crowd Out Cancer
		%link{:rel => 'stylesheet', :href => 'http://yui.yahooapis.com/pure/0.3.0/pure-min.css'}
		%link{:rel => 'stylesheet', :href => '/crowd.css'}
		%script{:src => 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js'}
		%script{:src => '/crowd.js'}
	%body{:'ng-app' => true}
		%script{:src => '/facebook.js'}
		#all
			#main.pure-g-r{:'ng-controller' => 'CrowdOutBallsCtrl', :'ng-init' => 'init()'}
				.pure-u-1-2.with-margin
					%h1.header-box
						%span Crowd out Cancer
						%cite by Cancer Research UK
				.pure-u-1-4.with-margin
					.header-box.feature
						%fb:login-button{:'show-faces' => true, width:'178px'}
				#circles.pure-u-1
					#field
						.ball.project-globe
							.ball-background
								.ball-inner
									%h1
										New Genes
									%p
										Hunting for hidden dangers in the breast-cancer genome.
									.ball.person-ball
										Jo Morris, Birmingham
									.ball.target-ball
										%p Target £50k
									%p
										I'm asking for £50k for one year to generate preliminary data
										so I can apply for a fellowship.
				#donate-box.pure-form.pure-form-stacked.pure-u-1-4{:'ng-if' => '{logged_in}'}
					%p Hi, {{user_name}} :)
					%textarea#message{placeholder: 'Message to the researchers'}
					%input#name{:name => 'name'}
					%span How much would you like to donate?
					%input{:type => 'button', :value => '£10'}
					%input{:type => 'button', :value => '£100'}
					%input{:type => 'button', :value => '£1000'}