
.ball-background {
	width:100%;
	height:100%;
	-webkit-transition: -webkit-transform 0ms;
	/*transform: translate(-100px, -100px, 0 0);*/
	position:absolute;
	border-radius: 50%;
	background:#1FB7EB;
	display:table;
	text-align:center;
	overflow:hidden;
}

.ball-inner {
	display: table-cell;
    vertical-align: middle;
}

.ball {
	position:absolute;
	-webkit-transition: -webkit-transform 2250ms;
	transform: translate(0, 0, 0, 0);
}

fieldset {display:none;}

.target-ball {
	height:100px;
	width:100px;
}
.target-ball .ball-background {
	background: white;
	font-size: 2em;
	font-weight: bold;
	-webkit-transform: translate(-50px, -50px);
}

.project-globe .ball-background {
	background-color: #EB008C;
	background-image: url(/water.png);
	background-repeat: no-repeat;
	background-position: 0 400px;
}
.project-globe {
	color: white;
	font-weight:bold;
	height:500px;
	width:500px;
}
.project-globe .ball-background {
	-webkit-transform: translate(-250px, -250px);
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.with-margin {
    padding: 1em;
}

.header-box {
	line-height:100px;
	height:100px;
	padding:0;
	margin:0;
	background:url(/logo.png);
	background-repeat: no-repeat;
}
h1 span {
	display:none;
}
h1 cite {
	margin-left:150px;
	font-size:50%;
}

.standard-margin { padding:1em; }

.main { background: white; }

header { background: white; }

.feature { background: #eee; }

#circles {

	background: #F9F7FC;
	height: 800px;

 }

/* field is a special invisible box with overflow: visible;

	It's used for coordinates of circles, with its top left representing the center
	of the field.

*/
 #field {
 	position:absolute;
 	top:60%;
 	left:50%;
 	overflow: visible;
 }



#donate-box {
	position:absolute;
	top:150px;
	right: 1em;
	width:200px;

	background: rgba(0, 0, 0, 0.125);

	border-radius: 10px;
}